/*Divers*/

body
{
    font-family: 'Raleway', sans-serif;
}

.star1
{
    background-color:white;
    color:#0065FC;
    font-size:10px;
}

.star2
{
    background-color:white;
    color:#a3a3a3;
    font-size:10px;
}

button
{
    cursor:pointer;
}


/*Header + Nav*/

header
{
    display:flex;
    justify-content: space-between;
    margin-left:50px;
    margin-top:40px;
    
}

header img 
{
    width:110px;
    height:50px;
}

nav ul
{
    display:flex;
    list-style-type: none;
    margin-right:50px;
}

nav a 
{
    text-decoration: none;
    color:black;
    padding-left:20px;
    padding-right:20px;
}

nav a:hover
{
    color:#0065FC;
    border-top:4px solid #0065FC;
    padding-top:50px;
    padding-left:20px;
    padding-right:20px;
}

/*Section 1*/

#tete
{
    margin-left:35px;
}

h1
{
    font-size:16px;
}

p
{
    font-size:13px;
}

/*Barre de recherche*/

#searchbar
{
    display:flex;
    margin-bottom:20px;
}

label i
{
    background-color:#F2F2F2;
    padding:12px;
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
}

#search
{
    background-color:#0065FC;
    border:none;
    color:white;
    border-top-right-radius:16px;
    border-bottom-right-radius:16px;
    padding-top:12px;
    padding-bottom:11px;
    padding-right:15px;
    padding-left:10px;
    margin-left:-5px;
    font-weight:bold;
    transition-duration:0.3s;
}

#search:hover
{
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56); 
    box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56);
}

#loupe
{
    display:none;
}

input
{
    background-color: white;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-left:none;
    border-right:none;
    padding-top:11px;
    padding-bottom:9px;
    font-weight:bold;

}

::placeholder
{
    font-size:13px;
}


/*Section Filtres*/

#filtres
{
    display: flex;
}

#filtres p
{
    font-weight:bold;
}

.filtre
{
    background-color:white;
    border: 2px solid #d8d8d8;
    height: 37px;
    border-radius:50px;
    margin-left:18px;

}

.filtre:focus
{
    background-color:white;
    border: 2px solid #0065FC;
    border-radius:50px;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56);
    box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56);

}
.filtre:hover
{
    background-color:white;
    border: 2px solid #0065FC;
    border-radius:50px;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56);
    box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56);
    transition-duration:0.3s;

}

button i
{
    color:#0065FC;
    background-color:#DEEBFF;
    font-size: 15px;
    border-radius:50px;
    padding:11px;
    margin-top: -3px;
    margin-left:-8px;
}

span
{
    font-weight:bold;
    padding-left:10px;
    padding-right:6px;
}
/*Info*/
#infop
{
    display: flex;
}

#infop i
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color:#0065FC;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

/*Section 1*/
#conteneur
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hebmarseille
{
    background-color: #F2F2F2;
    border-radius:16px;
    width:59%;
    padding-top:10px;
    padding-right:20px;
    margin-left:30px;
    margin-top:20px;

}

#hebergement
{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
}

#marseille
{
    margin-left:25px;
    font-size:20px;
}

#hebergement img
{
    width:100%;
    max-height:100px;
    min-height:100px;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    object-fit: cover;
}

#hebergement figure
{
    background-color:white;
    border-radius:16px;
    width:100%;
    margin-left:0;
    margin-right:0;
    height: 163px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#hebergement figure:hover
{
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56); 
    box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56);
    transition-duration:0.3s;
}


#hebergement a
{
    text-decoration: none;
    color:black;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#hebergement h3
{
    font-size:15px;
    font-weight:bold;
    margin-top:1px;
    margin-left:2px;
}

#hebergement p
{
    font-size:13px;
    margin-left:3px;
    margin-top:-5px;
}

#more
{
    border:none;
    background-color:#F2F2F2;
    font-size: 12px;
    font-weight: bold;
    margin-left:25px;
}

/* Aside - Les plus populaires */

aside
{
    background-color:#F2F2F2;
    border-radius:16px;
    width:29%;
    padding-top: 10px;
    padding-bottom:20px;
    margin-right: 40px;
    margin-left:1%;
    margin-top:20px;
}

aside h2
{
    font-size:20px;
    margin-left:20px;
}

#titrepop
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right:25px;
}


#populaire
{
    display:flex;
    flex-direction: column;

}

aside img
{
    width:35%;
    height:100%;
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
    object-fit: cover;
}

aside figure

{
    background-color:white;
    border-radius:16px;
    width: 85%;
    height: 107px;
    padding: 4px;
    margin:20px auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

aside figure:hover
{
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56); 
    box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56);
    transition-duration:0.3s;
}

aside figcaption
{
    width: 65%;
    padding-left:10px;
    margin-top:-10px;
    box-sizing: border-box;
}

aside a
{
    text-decoration:none;
    color:black;
}

aside h3
{
    font-size:15px;
}

aside p
{
    font-size:13px;
    margin-top:-10px;
}

/* Activités à Marseille */

#actmars
{

    width:100%;
    margin-top:20px;
    margin-bottom:30px;



}

#activ
{
    font-size:18px;
    margin-left:50px;
    margin-top:50px;

}

#activites
{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    margin-left:3%;
    margin-right:2%;
    justify-content: space-around;

}

#activites img
{
    object-fit: cover;
}



#activites img 
{
    border-top-right-radius:16px;
    border-top-left-radius:16px;
}

.imgbig
{
    width:100%;
    height:350px;
}

#imgmed
{
    width:100%;
    height:160px;
}

#imgtiny

{
    width:100%;
    height:145px;

}

.imghalf
{
    width:100%;
    height:150px;
}

#activites figure
{
    background-color:white;
    border-radius:16px;
    margin-left:-15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

#activites figure:hover
{
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56); 
    box-shadow: 0px 0px 16px 3px rgba(0,101,252,0.56);
    transition-duration:0.3s;
}
#activites a
{
    text-decoration:none;
    color:black;
    font-size:10px;
    width:25%;
}

.columnact 
{
    width:25%;

}
#activites h3
{
    margin-left:10px;
    margin-top: 10px;
    padding-bottom:10px;
}





/* Footer */

footer
{
    background-color: #F2F2F2;
    padding-top: 20px; 
}

#footgen
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:20%;
    margin-left:10px;

}

#footgen p
{
    font-weight: bold;
    font-size:13px;
}

ul
{
    list-style: none;
    font-size:13px;
    margin-left:-40px;

}

#footgen a
{
    text-decoration: none;
    color: black;
}

#footgen li
{
    padding-top:10px;
}
/* VERSION TABLETTE */
@media screen and (max-width:992px) {

#conteneur
{
    flex-direction: column-reverse;
}

aside
{
    width:100%;
    margin:0px;
    border-radius: initial;
    margin-left:-5px;
    padding-right:10px;
}

aside figure
{
    height:180px;
}

#hebmarseille
{
    width:100%;
    margin:0px;
    background-color:white;
}
#more
{
    background-color:white;
}
}

/* VERSION MOBILE */

@media screen and (max-width:768px) {

/* DIVERS */
body 
{
    margin:0px;
}   

/* LOGO et NAV */
header
{
    flex-direction: column;
    position:fixed;
    width:100%;
    background-color: white;
    margin:0px;
    margin-top:-20px;
}
header img
{
    margin-left:43%;
    margin-top:40px;
}

nav
{
    width:100%;

}

nav ul
{
    font-size:20px;
}

.navigation
{
    min-width:55%;
}

.navigation a
{
    border-bottom: 4px solid #F2F2F2;
    padding-bottom: 16px;
    padding-left:35%;
    padding-right:40%;

}
.navigation a:hover
{
    border-bottom: 4px solid #0065FC;
    padding-bottom: 16px;
    border-top:none;
    padding-left:35%;
    padding-right:40%;

}

/* EN TETE */
#tete
{
    padding-top:150px;
    max-width:100%;
    margin-left:5%;
}


#tete h1
{
    font-size:25px;
}
#tete p
{
    font-size:20px;
}
/*RECHERCHE*/


#recherche
{
    width:100%;
}
input
{
    width:60%;
    height:30px;
}
label i
{
    padding:19px;
}
#search
{
    display:none;
}
#loupe
{
    display:initial;
    background-color:#0065FC;
    border:none;
    padding-top:6px;
    padding-left:8px;
    margin-left:-5px;
    border-top-right-radius:16px;
    border-bottom-right-radius:16px;
}
#loupe i 
{
    background-color:#0065FC;
    color: white;
}

/* FILTRES */

#filtres
{
    flex-direction:column;

}
.filtre
{
    margin-right:60px;
    height:50px;
    margin-top:10px;
    padding-right:20px;

}

button i 
{ 
    padding: 18px;
}

#conteneur
{
    flex-direction: column-reverse;
}

/* LES PLUS POPULAIRE */

aside
{
    min-width:100%;
    min-height:550px;
    margin:0px;
    border-radius: initial;

}
aside h2
{
   font-size:25px;
   margin-left:5%; 
}

aside h2 i
{
    margin-left:100px;
}

#populaire figure
{
    height:130px;
}

#populaire h3
{
    font-size:15px;

}
#populaire p
{
    font-size:13px;
}

/* HEBERGEMENT A MARSEILLE */

#hebmarseille
{
    background-color: white;
    width:100%;
    margin:0px;
}
#hebergement a
{
    flex-direction: column;
    width:85%;
    margin-left:-2px;
}
#hebergement figure
{
    height:250px;

}
#hebergement img
{
    max-height:180px;
}
#marseille
{
    font-size:25px;
    margin-left:3%;
}


#more
{
    background-color: white;
}



/* ACTIVITE MARSEILLE */

#actmars
{
    margin-top:80px;
    width:100%;
}
#activ
{
    font-size:25px;
    margin-left:3%;
}
#activites
{
    flex-direction: column;
    width:100%;
}

#activites a
{
    width:90%;
    margin-left:6%;

}
.columnact
{
    width:90%;
    margin-left:6%;

}

#activites img
{
    height:250px;
}





#footgen
{
    flex-direction: column;

}

}